/**
  |============================
  | About section
  |============================
*/

.about__container {
  /* display: flex; */
}

@media screen and (min-width: 768px) {
  .about__container {
    display: flex;
  }
}

.about_list {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  margin: 0;
  margin-bottom: 15px;
  /* margin-right: 64px; */
  /* margin: 0; */
  padding: 0;
}

@media screen and (min-width: 768px) {
  .about_list {
    margin: 0;
    margin-right: 64px;
  }
}

/* @media screen and (min-width: 768px) {
  .about_list {
    display: flex;
  }
} */

.about_list__item {
  margin-right: 30px;
  overflow: hidden;
}

.about_list__item:last-child {
  margin-right: 0;
}

.about_list__img {
  /* transition: transform var(--slow-anim); */
  /* transition: margin-right 2s ease-in-out; */
}

.about_list__item:hover .about-list__img {
  transform: scale(1.15);
}

.about__group {
  /* width: 500px; */
}
@media screen and (min-width: 768px) {
  .about__group {
    width: 500px;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__description {
  margin-bottom: 40px;
}

.hero__btn {
  /* background-color: rgb(53, 28, 25); */
  font-weight: 400;
  color: #fff;
}
.hero__btn:hover {
  /* scale: 1.1; */
  /* background-color: rgb(53, 28, 25); */
  font-weight: 700;
  color: #fff;
}
.hero__btn:focus {
  /* scale: 1.1; */
  /* background-color: rgb(53, 28, 25); */
  font-weight: 700;
  color: #fff;
}
